body{
    background-color: #DFDEFF;
}
* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }

.wrapper {
    min-height: calc(100% - 2rem);
  }


.footer {
    height: 2rem;
    background-color: #e2e2e2
  }



img{
    max-width: 300px;
}

.carousel-inner{ 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carousel .item > img { display: inline-block; }

